# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.buildlog/
.history

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-preload-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
.gradle/
**/android/**/gradle-wrapper.jar
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# Jangan ignore android/
!android/
!android/**

# Coverage
coverage/

# Symbols
app.*.symbols

# ==== IGNORE iOS, macOS, Windows, Linux PROJECT SECARA PENUH ====

# iOS
ios/
# macOS
macos/
# Windows
windows/
# Linux
linux/

# Pods & Xcode
Pods/
**/Pods/
**/xcuserdata/
**/DerivedData/
**/Flutter/ephemeral/
**/Flutter/GeneratedPluginRegistrant.*

# Apple-specific (Xcode, pod, dsb)
*.xcworkspace
*.xcuserstate
*.xcodeproj
*.xcconfig
*.pbxproj
*.xcsettings

# Lain-lain platform
.idea/
.vscode/
.DS_Store

# CI, logs
*.log

# Exceptions to above rules.
!android/app/src/main/res/
